# Set default behavior to normalize line endings
* text=auto

# Explicitly declare files that should always have LF (Unix) line endings
*.js text eol=lf
*.json text eol=lf
*.css text eol=lf

# Declare files that should have CRLF (Windows) line endings
*.bat text eol=crlf
*.txt text eol=crlf
