<%- include('partials/header'); -%>

  <ul class="events">
    <li class="event">
      <img src="/event1.png" alt="event icon">
      <h4>Football</h4>
      <p>Football events</p>
    </li>
    <li class="event">
      <img src="/event2.png" alt="event icon">
      <h4>Voleyball</h4>
      <p>Voleyball events</p>
    </li>
    <li class="event">
      <img src="/event3.png" alt="event icon">
      <h4>Basketball</h4>
      <p>Basketball events</p>
    </li>
  </ul>

  <%- include('partials/footer'); -%>