<%- include('partials/header'); -%>

  <header>
    <div class="events">
      <img src="/" alt="events-icon">
    </div>
    <div class="events">
      <h2>Events</h2>
      <h3>By Vitali for people</h3>
      <a href="/events" class="btn">View Events</a>
    </div>
  </header>


  <%- include('partials/footer'); -%>